DIV.table {
  display: table;
}

FORM.tr, DIV.tr {
  display: table-row;
  white-space: nowrap;
}

DIV.td, DIV.th {
  display: table-cell;
  padding: 1px;
  min-width: 160px;
  min-height: 1px;
}
DIV.footer {
  display: table-footer-group;
}