ul {
  white-space:nowrap;
}

#dates li {
  display: inline;
  padding: 0.4em;
}

#selectedTimes li {
  padding: 0.2em;
}

DIV.table {
  display: table;
}

FORM.tr, DIV.tr {
  display: table-row;
   white-space:nowrap;
}

DIV.td, DIV.th {
  display: table-cell;
  padding: 2px;
}